
<%- include('partials/_header'); -%>

  

<!-- module navigation end -->
<div class="uk-container">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div class="uk-card uk-card-secondary uk-card-small uk-card-body uk-border-rounded">
                <div class="uk-grid uk-text-small uk-grid-stack" data-uk-grid="">
                    <div class="uk-width-3-4@m uk-visible@m">
                        <p>Trading involves substantial risk and may result in the loss of your invested/greater that your invested capital, respectively.</p>
                    </div>
                    <div class="uk-width-expand@m uk-text-center uk-text-right@m uk-first-column">
                        <a class="uk-margin-right" href="#"><i class="fas fa-comment-alt uk-margin-small-right"></i>Live Chat</a>
                        <a href="#"><i class="fas fa-phone-alt uk-margin-small-right uk-margin-small-left"></i>+44 (7451) 272-772</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- module breadcrumb begin -->
        <div class="uk-width-1-1 in-breadcrumb">
            <ul class="uk-breadcrumb uk-text-uppercase"><li><a href="">Home</a></li></ul>
        </div>
        <!-- module breadcrumb end -->
    </div>
</div>
</div>
<!-- header content end -->
</header>        <!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-5@m">
                <div class="uk-card uk-card-large uk-card-default in-card-paper">
                    <div class="uk-card-body" style="background-color:#dbdbdb;">
                        <h2>Company Faq</h2>
                        <p>The Financial Conduct Authority is a financial regulatory body in the United Kingdom, but operates independently of the UK Government, and is financed by charging fees to members of the financial services industry. We are NOT required to be regulated by The Financial Conduct Authority as a result we are NOT regulated by the Financial Conduct Authority. We are an educational company who provides insights into the Forex Markets.</p>
                        <p>Trade ideas (Signals) that we send are not intended for the purpose of live investment. They are intended for you to use as part of your analysis so you can understand forex better. Choosing to place a trade that we have commentated over is your own choice and we suggest speaking to a financial advisor before placing any trades on a live account. We are NOT financial Advisors, we ARE Educators and are regulated as a business by Companies House-HMRC.</p>
                        <hr class="uk-margin-medium-top uk-margin-small-bottom">
                        <ul class="in-faq-5 uk-accordion" data-uk-accordion="collapsible: false">
                                                                <!--<li class="uk-open">
                                <a class="uk-accordion-title" href="#">Brand Guidelines</a>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-bullet">
                                        <li>Follow the Company Brand Guides</li>
                                        <li>Never use Company in the plural or possessive form</li>
                                        <li>Never use Company trademark generically in referring to the product</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Specifically restricted uses</a>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-bullet">
                                        <li>Removing, distorting or altering any element of Company trademarks or branding</li>
                                        <li>Shortening, abbreviating, or using acronyms out of Company trademarks</li>
                                        <li>Combining your trademark or product name, visually or in text, with any Company trademark</li>
                                        <li>Indicating Company is endorsing or promoting your trademark or product</li>
                                        <li>Registering Company trademarks as or incorporated in social media account names, or aliases</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Company Trademarks</a>
                                <div class="uk-accordion-content">
                                    <p>Company trademarks include the following list. The absence of any Company trademark, product name, service name, or any other name from this list does not waive Company intellectual property rights.</p>
                                    <p>The Company logo and name is ® Registered in the Canada and The United States with registrations pending elsewhere. The ® Registered mark shall only be used in Canada and The United States until registrations are completed elsewhere.</p>
                                </div>
                            </li>-->
                        </ul>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded uk-margin-medium-top">
                            <p class="uk-text-small">For general inquiries please contact <a class="uk-text-lowercase uk-link" href="mailto:support@tradetips-analysis.live">support@tradetips-analysis.live</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->




<%- include('partials/_footer'); -%>